<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DatabaseAttributeKey</key>
	<dict>
		<key>Name</key>
		<string>UserName</string>
		<key>Mail</key>
		<string>UserMail</string>
		<key>Sex</key>
		<string>Sex</string>
		<key>Subject</key>
		<string>FavorSubject</string>
		<key>School</key>
		<string>SchoolDepartment</string>
	</dict>
	<key>LoginDialogTitile</key>
	<string>Login</string>
	<key>LoginDialogId</key>
	<string>ID</string>
	<key>LoginDialogPw</key>
	<string>Password</string>
	<key>LoginButtonLabel</key>
	<string>Login</string>
	<key>CreateAccountButtonLabel</key>
	<string>Create Account</string>
	<key>CancelButtonLabel</key>
	<string>Cancel</string>
	<key>DefaultLoginMessage</key>
	<string>Default Login Message</string>
	<key>LoginDialogMessage</key>
	<string>Login to NTU-Tutor</string>
</dict>
</plist>
